<%- include('partials/header') %>
    <main class="container">

        <%- include('partials/nav') %>

        <div class="container">
            <p>Welcome, <%= locals.username %> </p>
            
            <% for(let tyd of tyds) { %>        
                <% let username = tyd.fullname.split(' ')[0].toLowerCase() %>
                <% let avatar = Math.floor(Math.random() * 5)%>

                <div class="tyd">
                    <div id="upper">
                        <img src="/images/avatars/<%= `${avatar}.png`%>" alt="">
                        <div>
                            <h3>@<%= username %></h3>
                            <p><%= tyd.tyd %></p>
                        </div>
                    </div>
                    <div id="lower">
                        <p><%=  tyd.dateposted.toString().split(' ').slice(0,5).join(' ') %> </p>
                        <div >
                            <form action="/updatelikes?tydId=<%=tyd.tydId%>&userID=<%=locals.userID%>" method="post">
                                <button type="submit">
                                    <% if(likes.some(like=>tyd.tydId === like.tydId )) { %>
                                        <img  id="like" src="/images/icons/heart-fill.svg" alt="">
                                    <% } else { %> 
                                        <img  id="like" src="/images/icons/heart.svg" alt="">
                                    <% } %>       
                                </button>
                            </form>
                            <% if(tyd.likes>0) { %>
                                <span id="likes"><%= tyd.likes %></span>
                            <% } %>    
                        </div>
                    </div>
                </div>
            <% } %> 
        </div>

    </main>
    <script>
        window.addEventListener('scroll',function() {
             //When scroll change, you save it on localStorage.
            localStorage.setItem('scrollPosition',window.scrollY);
        },false);

        window.addEventListener('load',function() {
            if(localStorage.getItem('scrollPosition') !== null)
                window.scrollTo(0, localStorage.getItem('scrollPosition'));
        },false);
    </script>

<%- include('partials/footer') %>